<h3>도서등록</h3>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <label for="id" style="width:100px;display:inline-block">아이디:</label>
  <input type="text" name="id" ngModel #id="ngModel" required minlength="3" maxlength="3"><br>
  <div *ngIf="id.touched && id.errors">
    <div *ngIf="id.errors.required" style="background-color:red;color:white">
      아이디를 입력하세요
    </div>
    <div *ngIf="id.errors.minlength || id.errors.maxlength" style="background-color:red;color:white">
      아이디를 3자리로 입력하세요
    </div>
  </div>
  <label for="name" style="width:100px;display:inline-block">도서명:</label>
  <input type="text" name="name" ngModel #name="ngModel" required minlength="3" maxlength="50"><br>
  <div *ngIf="name.touched && name.errors">
    <div *ngIf="name.errors.required" style="background-color:red;color:white">
      도서명을 입력하세요
    </div>
    <div *ngIf="name.errors.minlength" style="background-color:red;color:white">
      도서명을 3자 이상으로 입력하세요
    </div>
    <div *ngIf="name.errors.maxlength" style="background-color:red;color:white">
      도서명을 50자 이하로 입력하세요
    </div>
  </div>
  <label for="price" style="width:100px;display:inline-block">가격:</label>
  <input type="number" name="price" ngModel #price="ngModel" required min="5000" max="50000"><br>
  <div *ngIf="price.touched">
    <div *ngIf="price.value < 5000" style="background-color:red;color:white">
      5000원 이상으로 입력하세요
    </div>
    <div *ngIf="price.value > 50000" style="background-color:red;color:white">
      50000원 이하로 입력하세요
    </div>
  </div>
  <label for="date" style="width:100px;display:inline-block">날짜:</label>
  <input type="date" name="date" ngModel #date="ngModel" required><br>
  <div *ngIf="date.touched" [hidden]="date.valid" style="background-color:red;color:white">
    날짜를 입력하세요
  </div>
  <br>
  <button type="submit">등록</button>
  <br>
  <br>
  <div style="background-color:gray">
    <div [innerText]="'id:' + id.value"></div>
    <div [innerText]="'name:' + name.value"></div>
    <div [innerText]="'price:' + price.value"></div>
    <div [innerText]="'date:' + date.value"></div>
  </div>
</form>
